h2, h3, p {
    line-height: 0.9; /* Setting tighter line spacing */
    margin: 0; /* This will help reduce the space further */
}
body {
    font-family: Times New Roman, sans-serif;
    line-height: 0.9;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}
header {
    background: #35424a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
}
section {
    margin: 20px;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
}

img {
    width: 90px; /* Adjust as needed */
    height: auto; /* Maintains aspect ratio */
    border-radius: 8px; /* Optional: rounded corners */
    display: block; /* Optional: gives block-level behavior */
    margin: 10px auto; /* Centering */
}
